<a href="https://colab.research.google.com/github/malinenimaurya/Data-Science-notebooks/blob/master/Exploratory_data_analysis_cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory data analysis in Python.


![alt text](https://moriohcdn.b-cdn.net/ff3cc511fb.png)

## Introduction

**What is Exploratory Data Analysis ?**

Exploratory Data Analysis or (EDA) is understanding the data sets by summarizing their main characteristics often plotting them visually. This step is very important especially when we arrive at modeling the data in order to apply Machine learning. Plotting in EDA consists of Histograms, Box plot, Scatter plot and many more. It often takes much time to explore the data. Through the process of EDA, we understand the problem better and try to uncover hidden insights

**How to perform Exploratory Data Analysis ?**
Well, the answer is it depends on the data set that you are working. There is no one method or common methods in order to perform EDA, whereas in this notebook you can understand some common methods and plots that would be used in the EDA process.

**What data are we exploring today ?**



The data-set can be downloaded from [here](https://www.kaggle.com/CooperUnion/cardataset). To give a piece of brief information about the data set this data contains more of 10, 000 rows and more than 10 columns which contains features of the car such as Engine Fuel Type, Engine HP, Transmission Type, highway MPG, city MPG and many more. So in this notebook, we will explore the data and make it ready for modeling.

## 1. Importing the required libraries for EDA

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

For more info on how to load dataset into colab. Check this [3 ways to load data into colab](https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data (1).csv

## 1.1 Loading the data into the data frame.

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['data.csv']))

In [ ]:
# To display the top 5 rows 
df.head(5)

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [ ]:
 # To display the botton 5 rows
df.tail(5)

          Make   Model  Year  ... city mpg  Popularity   MSRP
11909    Acura     ZDX  2012  ...       16         204  46120
11910    Acura     ZDX  2012  ...       16         204  56670
11911    Acura     ZDX  2012  ...       16         204  50620
11912    Acura     ZDX  2013  ...       16         204  50920
11913  Lincoln  Zephyr  2006  ...       17          61  28995

[5 rows x 16 columns]

## 1.2 Checking the types of data and basic summary stats

Here we check for the datatypes because sometimes the MSRP or the price of the car would be stored as a string, if in that case, we have to convert that string to the integer data only then we can plot the data via a graph. Here, in this case, the data is already in integer format so nothing to worry.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine HP          11845 non-null  float64
 4   Engine Cylinders   11884 non-null  float64
 5   Transmission Type  11914 non-null  object
 6   Driven_Wheels      11914 non-null  object
 7   Market Category    8172 non-null   object
 8   Vehicle Size       11914 non-null  object
 9   Vehicle Style      11914 non-null  object
 10  highway MPG        11914 non-null  int64
 11  city mpg           11914 non-null  int64
 12  Popularity         11914 non-null  int64
 13  MSRP               11914 non-null  int64
dtypes: float64(2), int64(5), object(7)
memory usage: 1.3+ MB

In [ ]:
df.describe()

               Year    Engine HP  ...    Popularity          MSRP
count  11914.000000  11845.00000  ...  11914.000000  1.191400e+04
mean    2010.384338    249.38607  ...   1554.911197  4.059474e+04
std        7.579740    109.19187  ...   1441.855347  6.010910e+04
min     1990.000000     55.00000  ...      2.000000  2.000000e+03
25%     2007.000000    170.00000  ...    549.000000  2.100000e+04
50%     2015.000000    227.00000  ...   1385.000000  2.999500e+04
75%     2016.000000    300.00000  ...   2009.000000  4.223125e+04
max     2017.000000   1001.00000  ...   5657.000000  2.065902e+06

[8 rows x 7 columns]

## 2. Dropping irrelevant columns

This step is certainly needed in EDA because sometimes there would be columns that we never use and in such cases dropping is useful. In this case, the columns such as Engine Fuel Type and Number of doors maynot be very relevant.

In [ ]:
df = df.drop(['Engine Fuel Type', 'Number of Doors'], axis=1)
df.head(5)

  Make       Model  Year  Engine HP  ...  highway MPG city mpg Popularity   MSRP
0  BMW  1 Series M  2011      335.0  ...           26       19       3916  46135
1  BMW    1 Series  2011      300.0  ...           28       19       3916  40650
2  BMW    1 Series  2011      300.0  ...           28       20       3916  36350
3  BMW    1 Series  2011      230.0  ...           28       18       3916  29450
4  BMW    1 Series  2011      230.0  ...           28       18       3916  34500

[5 rows x 14 columns]